alabaster==0.7.12
appdirs==1.4.4
asgiref==3.2.7
asn1crypto==0.24.0
Babel==2.8.0
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
coverage==5.1
cryptography==2.6.1
cson==0.7
cupshelpers==1.0
distlib==0.3.0
distro==1.3.0
distro-info==0.21
Django==3.0.6
django-jenkins==0.110.0
dnspython==2.0.0
docutils==0.16
entrypoints==0.3
feedparser==5.2.1
filelock==3.0.12
httplib2==0.11.3
idna==2.6
imagesize==1.2.0
importlib-metadata==1.6.0
Jinja2==2.11.2
keyring==17.1.1
keyrings.alt==3.1.1
louis==3.8.0
Mako==1.0.7
MarkupSafe==1.1.0
musicbrainzngs==0.6
mutagen==1.40.0
numpy==1.16.2
olefile==0.46
packaging==20.4
pep8==1.7.1
pexpect==4.6.0
Pillow==5.4.1
psutil==5.5.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyflakes==2.2.0
Pygments==2.7.2
PyGObject==3.30.4
pyinotify==0.9.6
pyparsing==2.4.7
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4.1
python-debian==0.1.35
python-debianbts==2.8.2
python-pam==1.8.4
python-xapp==1.2.0
python-xlib==0.23
pytz==2020.1
pyxdg==0.25
quodlibet==4.2.1
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.21.0
scour==0.37
SecretStorage==2.3.1
setproctitle==1.1.10
six==1.12.0
snowballstemmer==2.0.0
speg==0.3
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==20.0.20
vpn-slice==0.14.2
zipp==3.1.0
